<!DOCTYPE html>
<html>
<head>
<style>
    body {
        font-family: Arial;
        color:midnightblue;
        background-color:lightcyan;
    }
    
    .form1 {
        
        float:left; 
        vertical-align: middle;
        transform: translate(120%,0);
    }

    button {
        font-size:large
    }

    input {
        height: 20px;
        width: 20px;
    }

    .centered {
        position: absolute;
        vertical-align: middle;
        text-align: center;
    }
</style>
</head>

<!-- Logout Button -->
<form method="get">
    <button name="homeBtn" formaction="/login" type="submit" style="font-size:large">Logout</button>
</form>


<div class="centered">
    <h1>Welcome {{p_name}}!</h1>

    <!-- Contour Checkbox (Stay checked on form submit) -->
    <form method="POST">
    {% if is_checked == False %}
        <input type="checkbox" name="showContours" onclick="this.form.submit()"> <p style="font-size:large; display:inline"> Show Outlined Organs </p>
    {% else %}
        <input type="checkbox" name="showContours" onclick="this.form.submit()" checked> <p style="font-size:large; display:inline"> Show Outlined Organs</p>
    {% endif %}
    </form>
    <br>


    <!-- Organ Buttons -->
    {% for row in rows_org %}          
        <form class="form1" action="/info" method = POST>
            <button type="submit" name="organ_butt" style="font-size:large;width:150px;height:40px;background-color:{{row[2]}};color:black" value="{{row[0]}}" ><b>{{row[1]}}</b></button>
        </form>       
    {% endfor %}

    
    <!-- Insert Image -->
    <body>
        <img src="{{ user_image }}" alt="User Image">
    </body>

</div>
</html>


    
    